<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Sprint</title>
    <link th:replace="fragments/general.html :: linkBootstrap"></link>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script th:replace="fragments/general.html :: scriptBootstrap"></script>
    <script>
        let gSprintId=0

        function saveSprint() {
            const idInput = document.getElementById("id-input")
            const nameInput = document.getElementById("name-input")
            const productInput = document.getElementById("product-input")
            const beginDateInput = document.getElementById("beginDate-input")
            const endDateInput = document.getElementById("endDate-input")
            const sprint = {id: idInput.value, name: nameInput.value, productId: productInput.value, beginDate: beginDateInput.value, endDate: endDateInput.value}
            fetch("/api/sprints", {
                method: '[[${method}]]',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify(sprint)})
            .then(response => {
                if (!response.ok) {
                    response.text().then(function (text) {
                        let diverror = document.getElementById(`diverror`)
                        diverror.innerHTML=text;
                    });
                    throw new Error('Network error');
                }
                document.location.href = '[[${redirectUrl}]]'
               })
        }

    function fillTable(sprintCompositions) {
        let strTBody = ``
        let tbody = document.getElementById(`tbodytasks`)

        sprintCompositions.forEach(sprintComposition=>{
            strTBody += `
                <tr>
                    <td>${sprintComposition.taskId}</td>
                    <td>${sprintComposition.taskName}</td>
                    <td>${sprintComposition.taskTypeName}</td>
                    <td>${sprintComposition.taskAuthorName}</td>
                    <td>${sprintComposition.taskResponsibleName}</td>
                    <td>
                        <button class="deleteSprintComposition" type="button" onclick="deleteSprintComposition(${sprintComposition.id})" class="btn btn-secondary btn-sm">DELETE</button>
                    </td>
                </tr>
            `})
        tbody.innerHTML=strTBody
    }

    function getAllTasks(sprintId) {
        gSprintId=sprintId;
        fetch("/api/sprints/tasks/"+sprintId, {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
         })
        .then(response => response.json())
        .then(json => {fillTable(json)})
    }

    function deleteSprintComposition(sprintCompositionId) {
        fetch("/api/sprintcompositions/"+sprintCompositionId, {
            method: 'DELETE'
         })
        .then(response => response.text())
        .then(t => {getAllTasks(gSprintId)})
    }
    </script>
</head>
<body th:onload="'getAllTasks('+${sprint.id}+')'">

<!-- Sprint edition -->
<form id="edit-form" th:object="${sprint}">
    <h3>Sprint Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}" class="form-control"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" value="sprint 1" th:value="*{name}" class="form-control"/>
    </div>

    <div class="row">
        <div class="col">
            <label for="beginDate-input">Begin date:</label>
            <input id="beginDate-input" name="beginDate" type="date" value="0" th:value="*{beginDate}" class="form-control"/>
        </div>
        <div class="col">
            <label for="endDate-input">Priority:</label>
            <input id="endDate-input" name="endDate" type="date" value="0" th:value="*{endDate}" class="form-control"/>
        </div>
    </div>

    <div class="row">
        Product:
        <select id="product-input"   class="form-control">
            <option value="0">select product</option>
            <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.Name}" th:selected="${sprint.product==product}"></option>
        </select>
    </div>

    <div class="mb-3">
        <button type="button" onclick="saveSprint()" class="btn btn-primary btn-lg">Save</button>
        <a href="sprintList.html" th:href="@{/sprints}"><button type="button" class="btn btn-secondary btn-lg">Cancel</button></a>
    </div>

    <div id="diverror"></div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>Type</th>
            <th>author</th>
            <th>responsible</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody id="tbodytasks">
        <tr>
            <td colspan="9">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Загрузка...</span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>
